.profile-pic {
	max-width: 100%
}

.underLine-text {text-decoration: underline;
}

.navbar { 
	background-color: silver;
	background-color: rgba(0.5);
}

.mynav {
	width: 100%; 
	justify-content: center;
}

.fa {
	color: black !important;
	padding-right: 5px;
	padding-left: 5px;
}

.fa a:hover {
	color: blue;
	text-decoration: none; }


body {
background-image: url(../img/black.png); 
}

.mycustomprogressbar {
		background-color: grey;

}

.card {
	margin-top: 10px;
	margin-bottom: 10px;
}

body {
	font-family: 'Josefin Sans', sans-serif;
}

.myvideo {
	width: 75%;
	height: 50%;
}
/*This is where my picture ends*/

.homebox{
  color: white;
  margin-top: 15%;
   }

.home-page {
	background-image: url('../img/rudster.jpg');
	background-size: cover;
}

.profile-pic { 
	padding-bottom: 10px;
 }

.h1 {
	color: grey;
	padding-top: 20px;
	font-weight: 400;
	font-size: 80px;
	font-color: black;
    text-decoration-color: darkgray;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
	bottom: 10px;
    border-bottom-style: groove;
    border-top-style: groove;
    padding-bottom: 20px;
    line-height:1;

}







